%article.component-element.manually-form
  %h3.margin-bottom-10 Add manually
  .panel.panel-default
    .panel-body
      .row.caption-row.hidden-xs
        .col-md-5.col-sm-7.col-md-offset-7.col-sm-offset-5
          .row
            .col-md-3.col-sm-3 Start
            .col-md-3.col-sm-3{:style=>'overflow:hidden;'} Finish/duration
            .col-md-3.col-sm-3 Replace
            .col-md-3.col-sm-3
              &nbsp;
      .row
        %form{'ng-submit' => 'saveManuallyEntry()', name: 'manuallyEntry'}
          .col-md-7.col-sm-5.col-xs-12
            .input-group.input-group-sm.input-group-mf.current_entry
              %input.form-control{type: "text", placeholder: 'Stuff you forgot', 'ng-model' => 'manually_entry.title'}
              %span.input-group-btn
                %select.btn.btn-default{'ng-model' => 'manually_entry.category_id', 'ng-options' => "c.id as c.title for c in categories_order"}
                  %option{value: ''} Category...
          .col-md-5.col-sm-7.col-xs-12
            .row
              .col-md-3.col-xs-3.col-sm-3.col-lg-3.input-time
                %input.form-control{type: 'text', value: '00:00', placeholder: 'Start', 'ng-model' => 'manually_entry.start_to_s', 'show-datepicker' => true}
              .col-md-3.col-xs-3.col-sm-3.col-lg-3.input-time
                %input.form-control{type: 'text', value: '15', placeholder: 'Finish/duration', 'ng-model' => 'manually_entry.finish_to_s', 'show-datepicker' => true}
              .col-md-3.col-xs-2.col-sm-3.col-lg-3
                %input.hidden-sm.hidden-xs{type: "checkbox", checked: true, 'tablet-style' => true}
              .col-md-3.col-xs-4.col-sm-3.col-lg-3
                %button.btn.btn-success.col-md-10.col-lg-10.col-sm-10.col-xs-10.pull-right{:type => "button", 'ng-click' => 'saveManuallyEntry()'} Add
              %div{'datepicker' => true}
      .row.margin-top-10
        .col-md-12.popular_things
          %a{href: true, style: 'font-size: 120%;'} Обед
          %a{href: true} Сплю
          %a{href: true} Готовлю ужин
          %a{href: true, style: 'font-size: 110%;'} С костей
          %a{href: true} Завтрак
          %a{href: true, style: 'font-size: 130%;'} Утренние дела
          %a{href: true} Массаж
          %a{href: true, style: 'font-size: 90%;'} План меню
      -#.row.margin-top-10
        .col-md-12
          %span.label.label-default 5 min
          %span.label.label-primary 10 min
          %span.label.label-success 15 min
          %span.label.label-info 20 min
          %span.label.label-warning 30 min
          %span.label.label-danger 1 hour