%article.component-element.margin-top-20.list_of_entries
  .row{'ng-repeat' => 'g_entries in group_entries '}
    .col-md-12{"ng-if"=>"g_entries.data"}
      %table.table.table-hover
        %thead
          %tr
            %th
              %input{type: 'checkbox', 'ng-checked' => 'allChecked(g_entries)', 'ng-click' => 'allCheck(g_entries)'}
              &nbsp;
              %i.fa.fa-trash-o.button-delete{'ng-click' => 'destroyEntry({},g_entries)'}
            %th
              {{g_entries.title}}
            %th Time
            %th
        %tbody
          %tr{'ng-repeat' => 'entry in g_entries["data"]', 'ng-class' => '{edited: entry.edited}'}
            %td
              %input{type: 'checkbox', 'ng-model' => 'entry.checked'}
              &nbsp;
              %i.fa.fa-play.button-play{ 'ng-click' => 'setCurrentEntry(entry)'}
              &nbsp;
              %i.fa.fa-trash-o.button-delete{ 'ng-click' => 'destroyEntry(entry)'}
            %td{'ng-click' => 'showEditForm(entry)'}
              %span.title
                {{entry.title}}
              %span.label.label-warning.my-colors.category{"ng-if"=>'entry.category_id'}
                {{categories[entry.category_id].title}}
              %form.edit_entry{'ng-submit' => 'saveEditedEntry(entry)'}
                .input-group
                  %input.form-control{type: "text", 'ng-model' => 'entry.title', 'ng-blur' => 'onBlurInputEditedForm(entry)', 'ng-focus' => 'onFocusInputEditedForm(entry)'}
                  %span.input-group-btn
                    %select.btn.btn-default{'ng-model' => 'entry.category_id', 'ng-options' => "c.id as c.title for c in categories_order", 'ng-blur' => 'onBlurInputEditedForm(entry)', 'ng-focus' => 'onFocusInputEditedForm(entry)'}
                      %option{value: ''} Category...
            %td{'ng-click' => 'showFormEditTime(entry)', 'show-form-edit-time' => true}
              {{duration(entry)}}
            %td.font-gray{ 'ng-click' => 'showFormEditTime(entry)', 'show-form-edit-time' => true}
              {{entry.start_to_i.toHHMM()}}-{{entry.finish_to_i.toHHMM()}}

  .row
    .col-md-12= link_to 'Show more', '#'