.container
  .row
    .col-md-12

      %form{'ng-submit' => 'createEntry()', 'ng-class' => '{active: current_entry.current}', name: 'newEntry'}
        .input-group.input-group-lg.current_entry
          %input.form-control{type: "text", placeholder: 'What are you working on?', 'ng-model' => 'current_entry.title'}
          %span.input-group-btn
            %select.btn.btn-default{'ng-model' => 'current_entry.category_id', 'ng-options' => "c.id as c.title for c in categories_order"}
              %option{value: ''} Category...
            %span.btn.btn-default{:type => "button", 'ng-click' => 'showFormEditTime(current_entry)', 'show-form-edit-time' => true} {{duration(current_entry)}}
            %button.btn.btn-success.start{:type => "button", 'ng-click' => 'createEntry()'} Start
            %button.btn.btn-warning.my-colors.stop{:type => "button", 'ng-click' => 'stopEntry()'} Stop
      / /input-group

      .dropdown-menu#form_edit_time{style: 'display: none;'}
        .row.caption-row
          .col-md-6 Start
          .col-md-6 Finish
        .row
          .col-md-6
            %input.form-control{type: 'text', placeholder: 'Start', 'ng-model' => 'edit_entry.start'}
          .col-md-6
            %input.form-control{type: 'text', placeholder: 'Finish', 'ng-model' => 'edit_entry.finish', 'ng-disabled' => 'edit_entry.current'}
        .row
          .col-md-12
            %input.hidden{type: 'text'}
            %div{'datepicker' => true}
        .row
          .col-md-12
            %button.btn.btn-primary.btn-block{:type => "button", 'ng-click' => 'saveEditedTime()'} Apply

      %article.component-element
        %h3.margin-bottom-10 Add manually
        .panel.panel-default
          .panel-body
            .row.caption-row.hidden-xs
              .col-md-4.col-md-offset-8
                .col-md-4 Start
                .col-md-4 Finish/duration
                .col-md-4 Replace
            .row
              %form{'ng-submit' => 'saveEntry(manually_entry)', name: 'manuallyEntry'}
                .col-md-8
                  .input-group
                    %input.form-control{type: "text", placeholder: 'Stuff you forgot', 'ng-model' => 'manually_entry.title'}
                    %span.input-group-btn
                      %select.btn.btn-default{'ng-model' => 'manually_entry.category_id', 'ng-options' => "c.id as c.title for c in categories_order"}
                        %option{value: ''} Category...
                      %button.btn.btn-success{:type => "button", 'ng-click' => 'saveEntry(manually_entry)'} Add
                .col-md-4
                  .col-md-4
                    %input.form-control{type: 'text', value: '00:00', placeholder: 'Start', 'ng-model' => 'manually_entry.start'}
                  .col-md-4
                    %input.form-control{type: 'text', value: '15', placeholder: 'Finish/duration', 'ng-model' => 'manually_entry.finish'}
                  .col-md-4
                    %input{type: "checkbox", checked: true, 'tablet-style' => true}
            .row.margin-top-10
              .col-md-12.popular_things
                %a{href: true, style: 'font-size: 120%;'} Обед
                %a{href: true} Сплю
                %a{href: true} Готовлю ужин
                %a{href: true, style: 'font-size: 110%;'} С костей
                %a{href: true} Завтрак
                %a{href: true, style: 'font-size: 130%;'} Утренние дела
                %a{href: true} Массаж
                %a{href: true, style: 'font-size: 90%;'} План меню
            -#.row.margin-top-10
              .col-md-12
                %span.label.label-default 5 min
                %span.label.label-primary 10 min
                %span.label.label-success 15 min
                %span.label.label-info 20 min
                %span.label.label-warning 30 min
                %span.label.label-danger 1 hour

      %article.component-element.margin-top-20.list_of_entries
        .row
          .col-md-12
            %table.table.table-hover
              %thead
                %tr
                  %th
                    %input{type: 'checkbox', 'ng-checked' => 'allChecked()', 'ng-click' => 'allCheck()'}
                    %span.glyphicon.glyphicon-remove.font-light-gray{'ng-click' => 'destroyEntry()'}
                  %th Today
                  %th Time
                  %th
              %tbody
                %tr{'ng-repeat' => 'entry in entries', 'ng-if' => '!entry.current'}
                  %td
                    %input{type: 'checkbox', 'ng-model' => 'entry.checked'}
                    %span.glyphicon.glyphicon-play.font-light-gray{'ng-click' => 'setCurrentEntry(entry)'}
                    %span.glyphicon.glyphicon-remove.font-light-gray{'ng-click' => 'destroyEntry(entry)'}
                  %td
                    {{entry.title}}
                    %span.label.label-warning.my-colors {{categories[entry.category_id].title}}
                  %td {{duration(entry)}}
                  %td.font-gray {{entry.start_to_i.toHHMM()}}-{{entry.finish_to_i.toHHMM()}}

        .row
          .col-md-12= link_to 'Show more', '#'
  / col
/ container

.row
  .col-md-12
    %h3.margin-bottom-20.margin-left-20
      Report today
    .panel.panel-default.no-margin-bottom
      .panel-body
        .row
          .col-md-12
            %button.btn.btn-success.my-colors{style: 'width: 49%;'} Работа 6h
            %button.btn.btn-danger.my-colors{style: 'width: 20%;'} Еда 2h 30min
            %button.btn.btn-info.my-colors{style: 'width: 30%;'} Сплю 9h