- html_title

.container
  .row
    .col-md-12

      .input-group.input-group-lg
        %input.form-control{type: "text", placeholder: 'What are you working on?'}
        %span.input-group-btn
          %button.btn.btn-default{:type => "button"} Category...
          %button.btn.btn-success{:type => "button"} Start
      / /input-group

      %article.component-element
        %h3.margin-bottom-10 Add manually
        .panel.panel-default
          .panel-body
            .row.caption-row
              .col-md-2.pull-right Replace
            .row
              .col-md-10
                .input-group
                  %input.form-control{type: "text", placeholder: 'Stuff you forgot'}
                  %span.input-group-btn
                    %button.btn.btn-default{:type => "button"} Category...
                    %button.btn.btn-success{:type => "button"} Add
              .col-md-2
                %input{type: "checkbox", name: 'replace'}
            .row.margin-top-10
              .col-md-12
                %span.label.label-default Обед
                %span.label.label-default Сплю
                %span.label.label-default Готовлю ужин
                %span.label.label-default с костей
                %span.label.label-default Завтрак
                %span.label.label-default Утренние дела
                %span.label.label-default Массаж
                %span.label.label-default План меню
            -#.row.margin-top-10
              .col-md-12
                %span.label.label-default 5 min
                %span.label.label-primary 10 min
                %span.label.label-success 15 min
                %span.label.label-info 20 min
                %span.label.label-warning 30 min
                %span.label.label-danger 1 hour

      %article.component-element.margin-top-20
        .row
          .col-md-12
            %table.table.table-striped
              %thead
                %tr
                  %th
                    %input{type: 'checkbox'}
                    %span.caret
                  %th Thing
                  %th Time
                  %th From-To
              %tbody
                %tr
                  %td
                    %input{type: 'checkbox'}
                  %td Ужин
                  %td 35min
                  %td 15:40-16:45
                %tr
                  %td
                    %input{type: 'checkbox'}
                  %td Разговариваю с Костей
                  %td 2h
                  %td 16:00-18:00
                %tr
                  %td
                    %input{type: 'checkbox'}
                  %td Прогулка
                  %td 2h 30min
                  %td 19:00-21:30
                %tr
                  %td
                    %input{type: 'checkbox'}
                  %td Прогулка
                  %td 2h 30min
                  %td 19:00-21:30
                %tr
                  %td
                    %input{type: 'checkbox'}
                  %td Прогулка
                  %td 2h 30min
                  %td 19:00-21:30
                %tr
                  %td
                    %input{type: 'checkbox'}
                  %td Прогулка
                  %td 2h 30min
                  %td 19:00-21:30
        .row
          .col-md-12= link_to 'Show more', '#'


  / col
/ container

.row
  .col-md-12
    .panel.panel-primary.no-margin-bottom
      .panel-heading Today report
      .panel-body
        .row
          .col-md-12
            %button.btn.btn-default{style: 'width: 45%;'} Работа 6h
            %button.btn.btn-default{style: 'width: 20%;'} Еда 2h 30min
            %button.btn.btn-default{style: 'width: 30%;'} Сплю 9h