.container
  .row
    .col-md-6
      %article.component-element
        .row
          .col-md-5
            %h3.no-margin-bottom.no-margin-top Summary report
          .col-md-3
            %input.form-control{type: 'text', placeholder: 'from', 'datepicker' => true}
          .col-md-3
            %input.form-control{type: 'text', placeholder: 'to', 'datepicker' => true}
        #chart