/* common use */
.input-group-mf>.form-control, .input-group-mf>.input-group-addon, .input-group-mf>.input-group-btn>.btn {
    height: 34px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.no-margin-bottom { margin-bottom: 0; }
.margin-bottom-10 { margin-bottom: 10px; }

.no-margin-top { margin-top: 0; }
.margin-top-10 { margin-top: 10px; }
.margin-top-20 { margin-top: 20px; }

.margin-left-20 { margin-left: 20px; }

.label.label-info.my-colors { background-color: #6c008f; }
.label.label-success.my-colors { background-color: #097900; }
.label.label-warning.my-colors { background-color: #de8d01; }
.label.label-danger.my-colors { background-color: #a50000; }

button.btn-primary.my-colors {
    background-color: #00708c;
    border-color: #004759;
}
button.btn-info.my-colors {
    background-color: #6c008f;
    border-color: #560072;
}
button.btn-success.my-colors {
    background-color: #097900;
    border-color: #075e00;
}
button.btn-warning.my-colors {
    background-color: #de8d01;
    border-color: #be7901;
}
button.btn-danger.my-colors {
    background-color: #a50000;
    border-color: #820000;
}

.font-light-gray {color: #CECECE;}
.font-gray { color: #737373; }

/* main page */
.navbar-mind {
    margin-bottom: 30px;
}

.current_entry button.btn-default {
    border-left: 0;
    border-right: 0;
}

.current_entry .btn-default:not(button):focus, .current_entry .btn-default:not(button):active, .current_entry .btn-default:not(button):hover {
    background-color: #ffffff;
}

.current_entry .stop {display: none;}
.active .current_entry .start {display: none;}
.active .current_entry .stop {display: inline-block;}

#form_edit_time {
    padding: 20px;
    width: 300px;
    /*right: 0;*/
    /*left: auto;*/
}

#form_edit_time [datepicker] {
    margin: 20px 0;
}

.caption-row {
    font-size: 12px;
    line-height: 12px;
}

.bootstrap-switch {
    margin-top: 3px;
}

.popular_things a {
    padding-left: 10px;
}

.popular_things a:first-child {
    padding-left: 0;
}

/* list of entries */

.list_of_entries table tr td:last-child,
.list_of_entries table tr th:first-child,
.list_of_entries table tr td:first-child,
.list_of_entries table tr td:nth-last-child(2) {
    width: 1%;
    white-space:nowrap;
}

table tr td.font-gray{
    font-size: 75%;
}

.list_of_entries table tr td:nth-last-child(2) {
    padding-right: 50px;
}

.list_of_entries table .label {
    margin-left: 15px;
}

table input[type="checkbox"]{
    position:relative;
    top:2px;
}

i.button-play{
    color: #097900;
    cursor: pointer;
}

i.button-play:hover{
    color: #075e00;
}

i.button-delete{
    cursor: pointer;
}

i.button-delete:hover{
    color: #000000;
}

.list_of_entries table tr td form, .list_of_entries table tr.edited td .title, .list_of_entries table tr.edited td .category  {
    display: none;
}

.list_of_entries table tr.edited td form {
    display: block;
}