/ Setting Options
#color-switcher.animated.fadeIn.animation-dalay-10
  #color-switcher-tab
    %i.fa.fa-gear.fa.fa-2x
  #color-switcher-content
    %h3 Color Selector
    %a.color.default{:href => "#", :rel => "/assets/theme/colors/color-default.css"} default
    %a.color.niceblue{:href => "#", :rel => "/assets/theme/colors/color-niceblue.css"} niceblue
    %a.color.intenseblue{:href => "#", :rel => "/assets/theme/colors/color-intenseblue.css"} intenseblue
    %a.color.otherblue{:href => "#", :rel => "/assets/theme/colors/color-otherblue.css"} otherblue
    %a.color.blue{:href => "#", :rel => "/assets/theme/colors/color-blue.css"} blue
    %a.color.puregreen{:href => "#", :rel => "/assets/theme/colors/color-puregreen.css"} puregreen
    %a.color.grassgreen{:href => "#", :rel => "/assets/theme/colors/color-grassgreen.css"} grassgreen
    %a.color.green{:href => "#", :rel => "/assets/theme/colors/color-green.css"} green
    %a.color.olive{:href => "#", :rel => "/assets/theme/colors/color-olive.css"} olive
    %a.color.gold{:href => "#", :rel => "/assets/theme/colors/color-gold.css"} gold
    %a.color.orange{:href => "#", :rel => "/assets/theme/colors/color-orange.css"} orange
    %a.color.pink{:href => "#", :rel => "/assets/theme/colors/color-pink.css"} pink
    %a.color.fuchsia{:href => "#", :rel => "/assets/theme/colors/color-fuchsia.css"} fuchsia
    %a.color.violet{:href => "#", :rel => "/assets/theme/colors/color-violet.css"} violet
    %a.color.red{:href => "#", :rel => "/assets/theme/colors/color-red.css"} red
    %h3 Container Selector
    .btn-group
      %button.option.btn.btn-sm.btn-primary{:href => "#", :rel => "/assets/theme/width-boxed.css"} Boxed
      %button.option.btn.btn-sm.btn-primary{:href => "#", :rel => "/assets/theme/width-full.css"} Full Width
/ color-switcher