/ Setting Options
#color-switcher.animated.fadeIn.animation-dalay-10
  #color-switcher-tab
    %i.fa.fa-gear.fa.fa-2x
  #color-switcher-content
    %h3 Color Selector
    %a.color.default{:href => "#", :rel => "color-default.css"} default
    %a.color.niceblue{:href => "#", :rel => "color-niceblue.css"} niceblue
    %a.color.intenseblue{:href => "#", :rel => "color-intenseblue.css"} intenseblue
    %a.color.otherblue{:href => "#", :rel => "color-otherblue.css"} otherblue
    %a.color.blue{:href => "#", :rel => "color-blue.css"} blue
    %a.color.puregreen{:href => "#", :rel => "color-puregreen.css"} puregreen
    %a.color.grassgreen{:href => "#", :rel => "color-grassgreen.css"} grassgreen
    %a.color.green{:href => "#", :rel => "color-green.css"} green
    %a.color.olive{:href => "#", :rel => "color-olive.css"} olive
    %a.color.gold{:href => "#", :rel => "color-gold.css"} gold
    %a.color.orange{:href => "#", :rel => "color-orange.css"} orange
    %a.color.pink{:href => "#", :rel => "color-pink.css"} pink
    %a.color.fuchsia{:href => "#", :rel => "color-fuchsia.css"} fuchsia
    %a.color.violet{:href => "#", :rel => "color-violet.css"} violet
    %a.color.red{:href => "#", :rel => "color-red.css"} red
    %h3 Container Selector
    .btn-group
      %button.option.btn.btn-sm.btn-primary{:href => "#", :rel => "width-boxed.css"} Boxed
      %button.option.btn.btn-sm.btn-primary{:href => "#", :rel => "width-full.css"} Full Width
/ color-switcher