%nav.navbar.navbar-static-top.navbar-mind#navigation{:role => "navigation"}
  .container
    .navbar-header
      %a.navbar-brand.visible-xs{:href => "/"}
        My
        %span Timekeeper
      %button.navbar-toggle{"data-target" => ".navbar-mind-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %i.fa.fa-bars.fa-inverse

    .collapse.navbar-collapse.navbar-mind-collapse
      %a.navbar-brand.hidden-xs{:href => "/"}
        My
        %span Timekeeper
      %ul.nav.navbar-nav
        %li{'ng-class' => '{active: page == 0}'}= link_to 'Timer', '/'
        %li{'ng-class' => '{active: page == 1}'}= link_to 'Reports', '/#/reports'
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to '#' do
            %span.glyphicon.glyphicon-cog
        %li
          = link_to destroy_user_session_path, :method => :delete do
            %span.glyphicon.glyphicon-log-out